.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-family: "Nixie One", system-ui;
  position: relative; 
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: "Nixie One", system-ui;
}

.banner svg {
  width: 100%;
  height: 100%;
}

.welcome {
  margin-right: 10px;
  font-size: 5vw;
  color: #6EBBFB;
  text-align: center;
}

.subtitle {
  font-size: 2.5vw;
  color: black;
  text-align: center;
}

.name {
  color: #6EBBFB;
  font-size: 6vw;
  font-weight: bold;
  margin-top: -30px;
  text-align: center;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; 
  z-index: 1;
  position: absolute;
  top: 30%;
  width: 100%;
}

@media (max-width: 768px) {
  .banner {
    height: 100vh;
  }

  .welcome {
    font-size: 7vw;
    margin-right: 0;
  }

  .subtitle {
    font-size: 4.5vw;
  }

  .name {
    font-size: 8vw;
    margin-top: 10px;
  }

  .welcome-container {
    padding: 10px; 
    top: 40%;
    align-items: center;
    justify-items: center;
  }
}
